# Import and store data

## Import pandas

- To load the pandas package and start working with it, import the package. 


- The community agreed alias for pandas is `pd`, so loading pandas as pd is assumed standard practice for all of the pandas documentation:

In [1]:
import pandas as pd

## Data creation

- To manually store data in a table, create a DataFrame:

- create the DataFrame and name it `my_df`


- add the variable "gender" with the following observations: male, female and male

Hint:

```python
my_df = pd.DataFrame(
    { 
        'name': [ "Tom", "Lisa", "Peter"],
        'height': [1.68, 1.93, 1.72],
        'weight': [48.4, 89.8, 84.2]
         ______     ________
        }
)
```

In [2]:
### BEGIN SOLUTION
my_df = pd.DataFrame(
    { 
        'name': [ "Tom", "Lisa", "Peter"],
        'height': [1.68, 1.93, 1.72],
        'weight': [48.4, 89.8, 84.2],
        'gender': ['male', 'female', 'male'] 
        }
)
### END SOLUTION

In [10]:
"""Check that your code returns the correct output"""
assert my_df.iloc[0, 0] == "Tom"
assert my_df.iloc[0, 3] == "male"
assert my_df.iloc[1, 3] == "female"

## Import data

![](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

Pandas supports many different file formats or data sources out of the box (csv, excel, sql, json, parquet, …). Each of them import data with the prefix `read_*`

- Next, we import data, available as a CSV file in a GitHub repo 

Important notes: The CSV file has a typical european format with 

- `;` as seperators between cells (instead of the Pandas default `,`)
- `,` as number decimal seperator (instead of the Pandas default `.`) 

We need to take care of this issues.

Hint 

```python
df = pd.___(sep=';', decimal=',')
```

In [2]:
# URL of data
URL = "https://raw.githubusercontent.com/kirenz/datasets/master/height_unclean.csv"

In [3]:
### BEGIN SOLUTION
df = pd.read_csv(URL, sep=";", decimal=',')
### END SOLUTION

In [4]:
"""Check that your code returns the correct output"""
assert df.iloc[0, 0] == 'Stefanie'
assert df.iloc[0, 3] == 161.5

Now we do the same import with a different approach. Use the name `df2` 


Hint:

```python
ROOT = "https://raw.githubusercontent.com/kirenz/datasets/master/"
DATA = "___"

df2 = pd.read_csv(___ + ___, sep=";", decimal=',' )

# show head of the data
df2.head()
```

In [9]:
### BEGIN SOLUTION
ROOT = "https://raw.githubusercontent.com/kirenz/datasets/master/"
DATA = "height_unclean.csv"

df2 = pd.read_csv(ROOT + DATA, sep=";", decimal=',' )

df2.head()
### END SOLUTION

       Name  ID%  Height  Average Height Parents  Gender
0  Stefanie    1     162                   161.5  female
1     Peter    2     163                   163.5    male
2  Stefanie    3     163                   163.2  female
3   Manuela    4     164                   165.1  female
4     Simon    5     164                   163.2    male

In [10]:
"""Check that your code returns the correct output"""
assert df2.iloc[0, 0] == 'Stefanie'
assert df2.iloc[0, 3] == 161.5

## Store data

Pandas supports many different file formats (csv, excel, sql, json, parquet, …). Each of them stores data with the prefix `to_*`


- The following code should save the data `df` as an Excel file in your current directory.


- In the example here, the `sheet_name` is named `people_height` instead of the default Sheet1. 


- By setting `index=False` the row index labels are not saved in the spreadsheet:

In [4]:
df.to_excel("height.xlsx", sheet_name="people_height", index=False)

- The equivalent read function `read_excel()` would reload the data to a DataFrame:

In [5]:
# load excel file
df_xlsx = pd.read_excel("height.xlsx", sheet_name="people_height")

## Viewing data

### Overview

In [8]:
# show df
df

        Name  ID%  Height  Average Height Parents  Gender
0   Stefanie    1     162                   161.5  female
1      Peter    2     163                   163.5    male
2   Stefanie    3     163                   163.2  female
3    Manuela    4     164                   165.1  female
4      Simon    5     164                   163.2    male
5     Sophia    6     164                   164.4  female
6      Ellen    7     164                   164.0  female
7     Emilia    8     165                   165.2  female
8       Lina    9     165                   165.2  female
9      Marie   10     165                   165.1  female
10      Lena   11     165                   166.3  female
11      Mila   12     165                   167.4  female
12       Fin   13     165                   165.5    male
13      Eric   14     166                   166.2    male
14       Pia   15     166                   166.1  female
15      Marc   16     166                   166.5    male
16     Ralph   17     166                   166.6    male
17       Tom   18     167                   166.2    male
18    Steven   19     167                   167.3    male
19   Emanuel   20     168                   168.5    male

In [9]:
# show first 2 rows
df.head(2)

       Name  ID%  Height  Average Height Parents  Gender
0  Stefanie    1     162                   161.5  female
1     Peter    2     163                   163.5    male

In [10]:
# show last 2 rows
df.tail(2)

       Name  ID%  Height  Average Height Parents  Gender
18   Steven   19     167                   167.3    male
19  Emanuel   20     168                   168.5    male

- The `info()` method prints information about a DataFrame including the index dtype and columns, non-null values and memory usage:

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    20 non-null     object
 1   ID%                     20 non-null     int64
 2   Height                  20 non-null     int64
 3   Average Height Parents  20 non-null     float64
 4    Gender                 20 non-null     object
dtypes: float64(1), int64(2), object(2)
memory usage: 928.0+ bytes

### Column names

In [12]:
# Show columns
df.columns

Index(['Name', 'ID%', 'Height', 'Average Height Parents', ' Gender'], dtype='object')

### Data type

- Show data types ([dtypes](https://pandas.pydata.org/docs/user_guide/basics.html#basics-dtypes)).

In [13]:
df.dtypes

Name                       object
ID%                         int64
Height                      int64
Average Height Parents    float64
 Gender                    object
dtype: object

- The data types in this DataFrame are integers (int64), floats (float64) and strings (object).

### Index

In [14]:
# Only show index
df.index

RangeIndex(start=0, stop=20, step=1)